@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
:root {
  --gradient: linear-gradient(
    to right bottom,
    hsl(236, 72%, 79%),
    hsl(237, 63%, 64%)
  );
  --very-light-greyish-blue: hsl(240, 78%, 98%);
  --light-greyish-blue: hsl(234, 14%, 74%);
  --greyish-blue: hsl(233, 13%, 49%);
  --dark-greyish-blue: hsl(232, 13%, 33%);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
}
body {
  font-size: 1.5rem;
  font-family: 'Montserrat', sans-serif;
}
#checkbox {
  visibility: hidden;
}
#checkbox:checked ~ .pricing-toggle-button::before {
  transform: translateX(3rem);
}
.pricing-section {
  width: 100%;
  margin: 0 auto;
  height: 100vh;
  overflow: hidden;
  background: var(--very-light-greyish-blue);
  position: relative;
}
.bg-top,
.bg-bottom {
  position: absolute;
}
.bg-top {
  top: 0;
  right: 0;
}
.bg-bottom {
  top: 60%;
  left: 0;
}
.pricing-heading {
  z-index: 300;
  font-size: 4rem;
  text-align: center;
  margin-bottom: 2rem;
}
.pricing-toggle-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
p:first-of-type,
p:last-of-type {
  font-size: 1.5rem;
  margin-right: 3rem;
  margin-left: 3rem;
}
.pricing-toggle-button {
  display: inline-block;
  width: 6rem;
  height: 3rem;
  border-radius: 2.4rem;
  background: var(--gradient);
  position: relative;
}
.pricing-toggle-button::before {
  content: '';
  width: 3rem;
  height: 3rem;
  clip-path: circle(50% at 50% 50%);
  background-color: white;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.2s;
}
.pricing-component-parent {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
}
.pricing-component {
  padding: 4rem;
  z-index: 300;
  height: auto;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 1rem 1rem var(--dark-greyish-blue);
}
.pricing-component-secondary {
  padding: 4rem;
  z-index: 1000;
  background: var(--gradient);
  height: 460px;
  border-radius: 8px;
  box-shadow: 0 1rem 1rem var(--dark-greyish-blue);
}
.pricing-component-heading {
  border-bottom: 1px solid var(--dark-greyish-blue);
}
.pricing-component-heading span {
  display: block;
  font-size: 2rem;
  text-align: center;
}
.pricing-component-heading div {
  text-align: center;
  font-size: 7rem;
  margin-bottom: 1rem;
}
.pricing-component-secondary .pricing-component-heading div {
  color: #fff;
}
.pricing-component-content {
  text-align: center;
  font-size: 1.5rem;
  margin-top: 1rem;
  padding: 1rem;
}
.pricing-component-content::after {
  content: '';
  margin-top: 1rem;
  width: 100%;
  height: 1px;
  display: block;
  background-color: var(--dark-greyish-blue);
}
.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn {
  display: inline-block;
  padding: 1rem 3rem;
  font-size: 1.5rem;
  text-transform: uppercase;
  border: none;
  font-family: inherit;
  width: 100%;
  margin-top: 1rem;
}
.btn-primary {
  background: var(--gradient);
  color: #fff;
}
.btn-secondary {
  color: hsl(237, 63%, 64%) !important;
}
.btn:focus {
  outline: none;
}
@media only screen and (max-width: 1063px) {
  .pricing-section {
    overflow: visible;
    height: auto;
  }
  .pricing-component-parent {
    flex-wrap: wrap;
  }
  .pricing-component-secondary {
    margin-left: 2rem;
  }
  .pricing-component,
  .pricing-component-secondary {
    margin-bottom: 3rem;
  }
}
@media only screen and (max-width: 800px) {
  .bg-top {
    right: -25rem;
  }
  .pricing-section {
    overflow: visible;
    height: auto;
  }
  .pricing-component-parent {
    flex-wrap: wrap;
  }
  .pricing-component,
  .pricing-component-secondary {
    margin-bottom: 2rem;
  }
}
